<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col col-md-6">
                <h5 class="card-title">
                    {{ '::Menu:CustomerRegister' | abpLocalization }}
                </h5>
            </div>
            <div class="text-end col col-md-6">
                <div class="text-lg-end pt-2">
                    <button id="create" class="btn btn-secondary" type="button" (click)="sendAllEmail()">
                        <i class="fa fa-plus me-1"></i>
                        <span>Send</span>
                    </button>
                    <p>{{selectedItem}}</p>
                    <!--<select  #data class="form-select mb-2" aria-label="Default select example"
                        (change)="getData($event)">
                        <option selected>Select Temaplate</option>
                         <option value="1">register</option> 
                         <option> <a (click)="onNavigation()" value="1">register</a></option>
                        <option value="2">completed</option> 
                         <option *ngFor="let data of tempInfo" [value]=data.templateName>
                        {{data.templateName}}
                        </option> 
                         <option value="2">Two</option>
                    </select>-->

                    <p>{{selectedItem}}</p>
                    <div ngbDropdown class="d-inline-block" (change)="getData($event)">
                        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                            Templates
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngFor="let data of tempInfo" ngbDropdownItem value={{data}}
                                (click)="onNavigation(data)">{{data}}</button>
                            <!-- <button ngbDropdownItem>completed</button> -->
                        </div>
                    </div>
                    <div>
                        <button id="mails" class="btn btn-secondary" type="button" routerLink="/templates">
                            <i class="fa fa-plus me-1"></i>
                            <span class="text-secondary">New Template</span>
                        </button>
                    </div>
                    <div>
                        <button id="create" class="btn btn-primary ms-1" type="button" (click)="createCustomer()">
                            <i class="fa fa-plus me-1"></i>
                            <span>{{ "::NewCustomer" | abpLocalization }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable [selectionType]="'checkbox'" [list]="list" [rows]="customer.items" [count]="customer.totalCount"
            (select)="onSelect($event)" default>

            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true"></ngx-datatable-column>

            <ngx-datatable-column [name]="'::CustomerName' | abpLocalization" prop="customerName">
            </ngx-datatable-column>
            <!-- <ngx-datatable-column [name]="'::Course' | abpLocalization" prop="courses">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ '::Enum:Course:' + row.courses | abpLocalization }}
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column [name]="'::CourseName' | abpLocalization" prop="courseName">
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::StartDate' | abpLocalization" prop="startDate">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.startDate | date }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'::EndDate' | abpLocalization" prop="endDate">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.endDate | date }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'::CustomerEmail' | abpLocalization" prop="customerEmail">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.customerEmail }}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

    <!-- <div class="selected-column">
        <h4>
            Selections <small>({{ selected?.length }})</small>
        </h4>
        <ul>
            <li *ngFor="let sel of selected">
                {{ sel.customerName }}
            </li>
            <li *ngIf="!selected?.length">No Selections</li>
        </ul>
    </div> -->

    <abp-modal [(visible)]="isModalOpen">
        <div>
            <ng-template>
                <h3>{{ "::NewCustomer" | abpLocalization }}</h3>
            </ng-template>

        </div>
        <ng-template #abpBody>
            <form [formGroup]="form" (ngSubmit)="save()">

                <div class="form-group">
                    <label for="customer-name">Customer Name</label><span> * </span>
                    <input type="text" id="customer-name" class="form-control" formControlName="customerName"
                        autofocus />
                </div>

                <div class="form-group">
                    <label for="customer-email">Email</label><span> * </span>
                    <input type="email" id="customer-price" class="form-control" formControlName="customerEmail" />
                </div>

                <div class="form-group">
                    <label for="customer-course">Course</label><span> * </span>
                    <input type="text" id="customer-course" class="form-control" formControlName="courseName" />
                </div>

                <div class="form-group">
                    <label>Start date</label><span> * </span>
                    <input #datepicker="ngbDatepicker" class="form-control" name="datepicker" id="one"
                        formControlName="startDate" ngbDatepicker (click)="datepicker.toggle()" />
                </div>

                <div class="form-group">
                    <label>End date</label><span> * </span>
                    <input #datepicker1="ngbDatepicker" class="form-control" name="datepicker1"
                        formControlName="endDate" id="two" ngbDatepicker (click)="datepicker1.toggle()" />
                </div>
            </form>
        </ng-template>

        <ng-template #abpFooter>
            <button type="button" class="btn btn-secondary" abpClose>
                {{ '::Close' | abpLocalization }}
            </button>
            <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
                <i class="fa fa-check mr-1"></i>
                {{ '::Save' | abpLocalization }}
            </button>
        </ng-template>
    </abp-modal>
</div>

<div class="card">
    <div class="card-header">
        <div class="text-end col col-md-6">
            <div class="text-lg-end pt-2">
                <!-- <button id="mails" class="btn btn-secondary" type="button" routerLink="/templates">
                    <i class="fa fa-plus me-1"></i> 
                    <span class="text-secondary">New Template</span>
                </button> -->

                <!-- <p>{{selectedItem}}</p>
                <select #data class="form-select" aria-label="Default select example" (change)="getData($event)">
                    <option selected>Select Temaplate</option>
                     <option value="1">register</option> 
                    <option> <a (click)="onNavigation()" value="1">register</a></option>
                    <option value="2">completed</option>
                    <option *ngFor="let data of tempInfo" [value]=data.templateName>
                        {{data.templateName}}
                    </option>
                    <option value="2">Two</option>
                </select> -->

                <!-- <button class="btn btn-primary" (click)="mail()">Open modal</button> -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <abp-modal [(visible)]="isMailOpen">
            <ng-template #abpHeader>
                <h3>Modal Title</h3>
            </ng-template>

            <ng-template #abpBody>
                <form [formGroup]="form" (ngSubmit)="saveMail()">
                    <div class="form-group">
                        <label for="template-name">Template Name</label><span> * </span>
                        <input type="text" id="template-name" class="form-control" formControlName="templateName"
                            value="Course Reminder" readonly />
                    </div>
                    <div class="form-group">
                        <label for="template-body">Body</label><span> * </span>
                        <input type="text" id="template-body" class="form-control" value="Course Reminder"
                            formControlName="body" />
                    </div>
                </form>
            </ng-template>

            <ng-template #abpFooter>
                <button type="button" class="btn btn-secondary" abpClose>Close</button>
            </ng-template>
        </abp-modal>

    </div>
    <!-- <abp-modal [(visible)]="isMailOpen">
        <ng-template>
            <h1>Mail Templates</h1>
        </ng-template>
        <ng-template #mailBody1>
            <form [formGroup]="form" (ngSubmit)="saveMail()">
                <div class="form-group">
                    <label for="template-name">Template Name</label><span> * </span>
                    <input type="text" id="template-name" class="form-control" formControlName="templateName"
                        value="Course Reminder" readonly />
                </div>
                <div class="form-group">
                    <label for="template-body">Body</label><span> * </span>
                    <input type="text" id="template-body" class="form-control" value="Course Reminder" formControlName="body" />
                </div>
            </form>
        </ng-template>
    </abp-modal> -->
    <!-- sample.component.html -->
</div>

<router-outlet></router-outlet>